{% extends 'base.html' %}
{% block container %}
    <section class="container my-5">
        <div class="row">
            <div class="col-md-7">
                <h2 class="display-5">About <span class="text-danger">
                    Tasks Planner
                </span></h2>
                <p class="lead">This project is simple Tasks Planner. It's a website application which allows to create planners, create tasks and add them to selected planner.
                                It helps to keep an eye on tasks you need to do.</p>
            </div>
        </div>
    </section>
{% endblock %}