{% load static %}
{#<nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">#}
{#    <div class="container">#}
{#        <a class="navbar-brand" href="#">#}
{#            <img src="{% static 'images/logo.svg' %}" class="logo" alt="">#}
{#        </a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"#}
{#                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#            <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>#}
{#                </li>#}
{##}
{#                {% if user.is_authenticated %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="{% url 'users:logout' %}">Logout</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="{% url 'planners:planners-list' %}">Planners</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="{% url 'planners:planner-create' %}">New Planner</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="{% url 'planners:task-create' %}">Create Task</a>#}
{#                    </li>#}
{#                     <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="#">Logged in as: {{ user.fullname }}</a>#}
{#                     </li>#}
{#                {% else %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="{% url 'users:registration' %}">Register</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="{% url 'users:login' %}">Login</a>#}
{#                    </li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
      <img src="{% static 'images/logo.svg' %}" class="logo" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>
        </li>

          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Planner
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'planners:planners-list' %}">All Planners</a></li>
                <li><a class="dropdown-item" href="{% url 'planners:planner-create' %}">New Planners</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'planners:task-create' %}">Create Task</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logged in as: {{ user.fullname }}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'users:registration' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'users:login' %}">Login</a>
            </li>
          {% endif %}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>