{% extends 'base.html' %}

{% block container %}
    <div class="row">
        <div class="col">
        <div class="card-group">
            {% for planner in planners %}
                {% if user.is_authenticated %}
                    {% if planner.owner_id == request.user.id %}
                        <div class="card-body">
                            <h5 class="card-title">{{ planner.title }}</h5>
                            <a href="{% url 'planners:planner-detail' pk=planner.pk %}" class="btn btn-primary">See planner</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}
