{% extends 'base.html' %}

{% block container %}
    <p>You currently have {{  user_planner_count }} planner(s) created.</p>
            {% for planner in planners %}
                {% if user.is_authenticated %}
                    {% if planner.owner_id == request.user.id %}
                        <div class="row">
                          <div class="col-sm-8 mb-3 mb-sm-0">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">{{ planner.title }}</h5>
                                <p class="card-text">Created: {{ planner.created|date }}</p>
                                <a href="{% url 'planners:planner-detail' pk=planner.pk %}" class="btn btn-secondary">Details</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}