.logo {
    width: 40px;
    height: 40px;
}

body{
    background: #fff;
}

.bg-img{
    background-image:url(/static/images/homepage_image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}
